<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }
      span {
        margin: 10px 0;
        display: block;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <span>Novo contato recebido.</span>

      <span>Nome: {{name}}</span>
      <span>E-mail: {{email}}</span>
      <span>Telefone: {{phone}}</span>
      <span>Mensagem: {{message}}</span>

      <h3>Equipe | <strong>Soldagem</strong></h3>
    </div>
  </body>
</html>


